# Your secret key to protect your new API endpoint
MY_API_KEY=

# Your Infobip Account Details
INFOBIP_BASE_URL=
INFOBIP_API_KEY=

# The default caller ID (a voice number you have with Infobip)
DEFAULT_CALLER_ID=
